---
- name: Install MySQL and dependencies
  yum: name={{ item }} state=present
  with_items:
    - MySQL-python
    - mysql-server

- name: Create MySQL configuration file
  template: src=my.cnf.j2 dest=/etc/my.cnf

- name: Start MySQL Service
  service: name=mysqld state=started enabled=true

# - name: Create Application Database
#   mysql_db: name=my_app_development state=present

# - name: Create Application Database
#   mysql_db: name=my_app_test state=present

# - name: Create Application Database
#   mysql_db: name=my_app_production state=present

- name: Create Application DB User
  mysql_user: name=root priv=*.*:ALL host='%' state=present