---
- name: Configure machines basics
  hosts: all
  sudo: yes
  roles:
    - extra-repositories
    - basics
    - iptables
    - selinux

- name: Configure deployment directory
  hosts:
    - client
    - app
  sudo: yes
  roles:
    - deployment

- name: Install MySQL database
  hosts: db
  sudo: yes
  roles:
    - mysql

- include: ../../client/scripts/ansible/playbook.yml
- include: ../../rails/scripts/ansible/playbook.yml